[submodule "redcap_cypress"]
	path = redcap_cypress
	url = git@github.com:vanderbilt-redcap/redcap_cypress.git
[submodule "redcap_docker"]
	path = redcap_docker
	url = git@github.com:vanderbilt-redcap/redcap_docker.git
[submodule "redcap_rsvc"]
	path = redcap_rsvc
	url = git@github.com:vanderbilt-redcap/redcap_rsvc.git
